<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>宿舍编辑</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<script type="text/javascript" charset="utf8" src="../../../layuiadmin/js/jquery-1.10.2.min.js"></script>
	</head>

	<body>

		<div class="layui-form " lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
			<div class="layui-form-item">
				<label class="layui-form-label">宿舍编号</label>
				<div class="layui-input-inline" style="width: 100px;">
					<input type="text" name="dormitory_number" placeholder="" autocomplete="off" class="layui-input" disabled="disabled" style="background: #F5F5F5;">
				</div>
				<label class="layui-form-label">允许居住数</label>
				<div class="layui-input-inline">
					<div class="layui-input-block" style="width: 100px; right: 55%;">
						<select name="dormitory_allow_live_number" id="dormitory_allow_live_number" lay-verify="required" lay-filter="dormitory_allow_live_number">
							<option value=""></option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">所在区域</label>
				<div class="layui-input-inline">
					<input type="text" name="dormitory_area" placeholder="" autocomplete="off" class="layui-input" disabled="disabled" style="background: #F5F5F5;">
				</div>
				<label class="layui-form-label">宿舍楼</label>
				<div class="layui-input-inline">
					<input type="text" name="dormitory_build" placeholder="" autocomplete="off" class="layui-input" disabled="disabled" style="background: #F5F5F5;">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">所在楼层</label>
				<div class="layui-input-inline">
					<input type="text" name="dormitory_floor" placeholder="" autocomplete="off" class="layui-input" disabled="disabled" style="background: #F5F5F5;">
				</div>
				<label class="layui-form-label">房间号</label>
				<div class="layui-input-inline">
					<input type="text" name="dormitory_room" placeholder="" autocomplete="off" class="layui-input" disabled="disabled" style="background: #F5F5F5;">
				</div>
			</div>
			<div style="padding: 0 0 0 40px;">
				<div id="dormitory_lived_transfer" class="demo-transfer"></div>
			</div>
			<div class="layui-form-item layui-hide">
				<input type="button" lay-submit lay-filter="LAY-dormitory-front-submit" id="LAY-dormitory-front-submit" value="确认">
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.all.js"></script>
		<script src="../../../layuiadmin/js/check-token.js"></script>
		
		<script>
			layui.use(['form', 'transfer'], function() {
				var form = layui.form;
				var transfer = layui.transfer;
				var transfer_data = "";
				var transfer_value = "";

				// 获取url的参数并赋值
				function GetQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
					var r = window.location.search.substr(1).match(reg);
					if(r != null) return decodeURI(r[2]);
					return null;
				}
				var dormitories_id = GetQueryString("dormitories_id");
				if(dormitories_id == null) {
					layer.msg('数据加载错误，请检查链接', {
						icon: 2,
						anim: 6
					});
					return false;
				}
				// 数据加载
				$.ajax({
					url: "http://s1.mc.fyi:11453/dormitories/" + dormitories_id + "/",
					type: "get",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					dataType: "json",
					success: function(data) {
						form.val("layuiadmin-form-useradmin", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
							"dormitory_number": data.number,
							"dormitory_area": data.area,
							"dormitory_build": data.build,
							"dormitory_floor": data.floor,
							"dormitory_room": data.room,
							"dormitory_allow_live_number": data.allow_live_number
						});
					},
					error: function(jqXHR) {
						layer.msg('数据加载错误，请尝试重新登录', {
							icon: 2,
							anim: 6
						});
					}
				});

				// 获取"穿梭框"数据
				$.ajax({
					type: "get",
					url: "http://s1.mc.fyi:11453/dormitories/" + dormitories_id + "/get_transfer_data/",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					async: false,
					success: function(data) {
						transfer_data = data.data;
					}
				});
				$.ajax({
					type: "get",
					url: "http://s1.mc.fyi:11453/dormitories/" + dormitories_id + "/get_transfer_value/",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					async: false,
					success: function(data) {
						transfer_value = data.value;
					}
				});

				transfer.render({
					elem: '#dormitory_lived_transfer',
					id: 'dormitory_lived_transfer',
					data: transfer_data,
					title: ['未入住用户 (不包含禁用用户)', '已入住用户 (请移除禁用用户)'],
					showSearch: true,
					width: 247,
					height: 300,
					value: transfer_value,
					onchange: function(data, index) {
						var ids = '';
						data.map(function(value, index, arr) {
							ids += value.value + ',';
						})
						var reg = /,$/gi;
						ids = ids.replace(reg, "");
						$.ajax({
							type: "post",
							url: "http://s1.mc.fyi:11453/dormitories/" + dormitories_id + "/onchange_transfer/",
							headers: {
								"Authorization": "JWT " + localStorage.getItem("cache_token")
							},
							dataType: "json",

							data: {
								ids: ids,
								index: index
							},
							async: false,
							success: function(data) {
								layer.msg(data.detail, {
									icon: 1,
									time: 2000
								});
							},
							error: function(jqXHR) {
								var json_responseText = JSON.parse(jqXHR.responseText);
								if (json_responseText.detail){
									layer.msg(json_responseText.detail, {
										icon: 2,
										anim: 6,
										btn: ['明白了'],
										yes: function(index) {
											window.location.reload();
										}
									});
									return false;
								}
								layer.msg('未知错误，请联系管理！', {
									icon: 2,
									anim: 6,
									btn: ['明白了'],
									yes: function(index) {
										window.location.reload();
									}
								});
							}
						});
					}
				});

				form.on('select(dormitory_allow_live_number)', function(data) {
					$.ajax({
						url: "http://s1.mc.fyi:11453/dormitories/" + dormitories_id + "/change_allow_live_number/",
						type: "post",
						headers: {
							"Authorization": "JWT " + localStorage.getItem("cache_token")
						},
						dataType: "json",
						data: {
							"allow_live_number": $('#dormitory_allow_live_number').val()
						},
						success: function(data) {
							layer.msg(data.detail, {
								icon: 1,
								time: 2000
							})
						},
						error: function(jqXHR) {
							var json_responseText = JSON.parse(jqXHR.responseText);
							if(json_responseText.allow_live_number) {
								layer.msg('允许居住人数出错：' + json_responseText.allow_live_number[0], {
									icon: 2,
									anim: 6,
									btn: ['明白了'],
									yes: function(index) {
										window.location.reload();
									}
								});
								return false;
							}
							if(json_responseText.detail) {
								layer.msg(json_responseText.detail, {
									icon: 2,
									anim: 6,
									btn: ['明白了'],
									yes: function(index) {
										window.location.reload();
									}
								});
								return false;
							}
							layer.msg('未知错误，请联系管理！', {
								icon: 2,
								anim: 6
							});
						}
					});
				});

			});
		</script>
	</body>

</html>