<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>批量创建用户</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script type="text/javascript" charset="utf8" src="../../../layuiadmin/js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	</head>

	<body>
		<div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 13px 0 20px;">
			<blockquote class="layui-elem-quote layui-quote-nm" style="width: 263px;">
				<span class="layui-badge-dot layui-bg-blue"></span>&nbsp;&nbsp;&nbsp;首用户名请使用纯数字</br>
				<span class="layui-badge-dot layui-bg-blue"></span>&nbsp;&nbsp;&nbsp;后续用户名会根据创建数量递增</br>
				<span class="layui-badge-dot layui-bg-orange"></span>&nbsp;&nbsp;&nbsp;例：首用户名&nbsp;2021&nbsp;&nbsp;&nbsp;&nbsp;创建数量&nbsp;20</br>
				<span class="layui-badge-dot layui-bg-orange"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将会创建&nbsp;2021-2040&nbsp;共20个账户
			</blockquote>
			<div class="layui-form-item">
				<label class="layui-form-label" style="color: #808080;">首用户名  <a style="color: red;">*</a></label>
				<div class="layui-input-inline">
					<input type="text" name="user_first_username" id="user_first_username" lay-verify="required|first_username" placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label " style="color: #808080;">创建数量 <a style="color: red;">*</a></label>
				<div class="layui-input-inline" style="width: 174px;padding: 17px 0 0 16px;">
					<div name="user_slide" id="user_slide" class="demo-slider"></div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label" style="color: #808080;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码 <a style="color: red;">*</a></label>
				<div class="layui-input-inline">
					<input type="password" name="user_password" id="user_password" lay-verify="required|password" placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" style="padding: 0 0 0 235px;">
				<input type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
			</div>
		</div>
		
		<script src="../../../layuiadmin/layui/layui.all.js"></script>
		<script src="../../../layuiadmin/js/check-token.js"></script>
		
		<script>
			layui.use(['form', 'slider'], function() {
				var form = layui.form;
				var slider = layui.slider;
				var user_create_number = "";

				//自定义验证规则
				form.verify({
					first_username: [/^[0-9]{4,16}$/, '首用户名须为4~16位，只可包含数字！'],
					password: [/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{8,20}$/, '密码须为8~20位，数字、字母、字符至少包含两种，且不能包含中文和空格！']
				});

				slider.render({
					elem: '#user_slide',
					input: true,
					min: 1,
					change: function(value) {
						user_create_number = value;
					}
				});

				form.on("submit(LAY-user-front-submit)", function(data) {
					var form_data = form.val('layuiadmin-form-useradmin');
					$.ajax({
						url: "http://s1.mc.fyi:11453/users/create_multiple/",
						type: "post",
						headers: {
							"Authorization": "JWT " + localStorage.getItem("cache_token")
						},
						dataType: "json",
						data: {
							"first_username": form_data.user_first_username,
							"create_number": user_create_number,
							"password": form_data.user_password
						},
						beforeSend: function() {
							layer.msg('拼命执行中...', {
								icon: 16,
								shade: [0.5, '#f5f5f5'],
								scrollbar: false,
								offset: 'auto',
								time: 100000
							});
						},
						success: function(data) {
							layer.msg(data.detail, {
								icon: 1,
								time: 2000
							})
						},
						error: function(jqXHR) {
							var json_responseText = JSON.parse(jqXHR.responseText);
							if(json_responseText.first_username) {
								layer.msg('首用户名出错：' + json_responseText.first_username[0], {
									icon: 2,
									anim: 6
								});
								$('#user_first_username').focus();
								return false;
							}
							if(json_responseText.create_number) {
								layer.msg('创建数量出错：' + json_responseText.create_number[0], {
									icon: 2,
									anim: 6
								});
								$('#user_create_number').focus();
								return false;
							}
							if(json_responseText.password) {
								layer.msg('密码出错：' + json_responseText.password[0], {
									icon: 2,
									anim: 6
								});
								$('#user_password').focus();
								return false;
							}
							if(json_responseText.detail) {
								layer.msg(json_responseText.detail, {
									icon: 2,
									anim: 6
								});
								return false;
							}
							layer.msg('未知错误，请联系管理！', {
								icon: 2,
								anim: 6
							});
						}
					});
				});
			});
		</script>
	</body>
	<script>
	</script>

</html>