<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>设置我的密码</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<script type="text/javascript" charset="utf8" src="../../../layuiadmin/js/jquery-1.10.2.min.js"></script>
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-header">修改密码</div>
						<div class="layui-card-body" pad15>

							<div class="layui-form" lay-filter="layuiadmin-form-useradmin">
								<div class="layui-form-item">
									<label class="layui-form-label">当前密码</label>
									<div class="layui-input-inline">
										<input type="password" name="old_password" lay-verify="password" lay-verType="tips" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">新密码</label>
									<div class="layui-input-inline">
										<input type="password" name="new_password" lay-verify="password" lay-verType="tips" class="layui-input">
									</div>
									<div class="layui-form-mid layui-word-aux">6到16个字符</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">确认新密码</label>
									<div class="layui-input-inline">
										<input type="password" name="re_password" lay-verify="password" lay-verType="tips" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit lay-filter="confirm_edit_button">确认修改</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.all.js"></script>
		<script src="../../../layuiadmin/js/check-token.js"></script>
		
		<script>
			layui.use(['form'], function() {
				var form = layui.form;

				//自定义验证规则
				form.verify({
					password: [/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{8,20}$/, '密码须为8~20位，数字、字母、字符至少包含两种，且不能包含中文和空格！']
				});

				form.on('submit(confirm_edit_button)', function(data) {
					var field = data.field;
					
					if(field.new_password != field.re_password) {
						layer.msg('请检查确认新密码！', {
							icon: 2,
							anim: 6
						});
						return false;
					}
					if(field.old_password == field.new_password) {
						layer.msg('旧密码与新密码相同！', {
							icon: 2,
							anim: 6
						});
						return false;
					}
					
					$.ajax({
						url: "http://127.0.0.1:11453/users/change_password_admin/",
						type: "post",
						headers: {
							"Authorization": "JWT " + localStorage.getItem("cache_token")
						},
						dataType: "json",
						data: {
							"old_password": field.old_password,
							"new_password": field.new_password
						},
						success: function(data) {
							layer.msg('操作成功：密码已修改成功！', {
								icon: 1,
								time: 2000
							})
							form.val("layuiadmin-form-useradmin", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
								"old_password": "",
								"new_password": "",
								"re_password": ""
							});
						},
						error: function(jqXHR) {
							var json_responseText = JSON.parse(jqXHR.responseText);
							if(json_responseText.old_password) {
								layer.msg(json_responseText.old_password[0], {
									icon: 2,
									anim: 6
								});
								return false;
							}
							if(json_responseText.new_password) {
								layer.msg(json_responseText.new_password[0], {
									icon: 2,
									anim: 6
								});
								return false;
							}
							if(json_responseText.detail) {
								layer.msg('操作失败：' + json_responseText.detail, {
									icon: 2,
									anim: 6
								});
								return false;
							}
						}
					});
				});
			});
		</script>
	</body>

</html>