<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>教职工列表 - 禁用</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script type="text/javascript" charset="utf8" src="../../../layuiadmin/js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	</head>

	<style type="text/css">
		.layui-table-cell {
			height: auto;
			line-height: 38px;
		}
	</style>

	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto" id="usersearch">
					<div class="layui-form-item layui-row">
						<div class="layui-col-sm3">
							<label class="layui-form-label">真实姓名</label>
							<div class="layui-input-block">
								<input type="text" name="id" placeholder="姓" autocomplete="off" class="layui-input" id="users_search_firstname">
							</div>
							<div class="layui-input-block">
								<input type="text" name="id" placeholder="名" autocomplete="off" class="layui-input" id="users_search_lastname">
							</div>
						</div>
						<div class="layui-col-sm3">
							<label class="layui-form-label">用户名</label>
							<div class="layui-input-block">
								<input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input" id="users_search_username">
							</div>
							<label class="layui-form-label">手机号码</label>
							<div class="layui-input-block">
								<input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input" id="users_search_mobile">
							</div>
						</div>
						<div class="layui-col-sm3">
							<label class="layui-form-label">绑定邮箱</label>
							<div class="layui-input-block">
								<input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input" id="users_search_email">
							</div>
						</div>
						<div class="layui-col-sm2 layui-col-md-offset1">
							<button class="layui-btn" id="users_search_button">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 搜索
                    </button>
							<button class="layui-btn layui-btn-warm" id="users_search_clean_button">
                        <i class="layui-icon layui-icon-senior layuiadmin-button-btn"></i> 清空
                    </button>
						</div>
					</div>
				</div>

				<div class="layui-card-body layui-form">
					<span class="layui-badge-dot layui-bg-blue"></span> 小知识：点击头像即可设置头像
					<div style="float:right">
						<button class="layui-btn layui-btn-sm layui-btn-normal" data-type="batchdel" id="users_set_inactive_multiple_button">
                    		<i class="layui-icon layui-icon-face-cry"></i> 批量禁用
                		</button>
						<button class="layui-btn layui-btn-sm layui-btn-normal" data-type="batchdel" id="users_set_active_multiple_button">
                    		<i class="layui-icon layui-icon-face-smile"></i> 批量启用
                		</button>
						<button class="layui-btn layui-btn-sm layui-btn-normal" data-type="batchdel" id="users_reset_password_multiple_button">
                    		<i class="layui-icon layui-icon-survey"></i> 批量重置密码
                		</button>
					</div>
					<div style="padding: 16px 0 0 0;">
						<table id="LAY-users-manage" lay-filter="LAY-users-manage"></table>
					</div>
				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.all.js"></script>
		
		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh" onclick="layui.table.reload('LAY-users-manage')">
				<i class="layui-icon layui-icon-refresh"></i>
			</div>
		</script>

		<script src="../../../layuiadmin/js/check-token.js"></script>

		<script>
			layui.use('table', function() {
				var table = layui.table;
				table.render({
					elem: '#LAY-users-manage',
					autoSort: false, //禁用前端自动排序
					toolbar: '#toolbarDemo',
					url: 'http://s1.mc.fyi:11453/users/',
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					where: {
						'is_active': 'false',
						'is_staff': 'true'
					},
					limit: 10,
					limits: [10, 20, 50, 100],
					height: 'full-198',
					cols: [
						[{
								type: 'checkbox',
								width: '3%',
								align: 'center'
							},
							{
								field: 'id',
								title: 'ID',
								width: '5%',
								align: 'center',
								sort: true
							},
							{
								field: 'info__avatar',
								width: '4%',
								title: '头像',
								align: 'center',
								templet: function(d) {
									if(d.info__avatar) {
										return '<div><img style="height:30px;width:30px;border-radius:50%;line-height:50px!important;" src="' + d.info__avatar + '" onclick="user_set_avatar(' + d.id + ');"></div>';
									}
									return '<div><img style="height:30px;width:30px;border-radius:50%;line-height:50px!important;" src="http://s1.mc.fyi:11453/media/users/avatar/default.jpg" onclick="user_set_avatar(' + d.id + ');"></div>';
								}
							},
							{
								field: 'username',
								width: '12%',
								title: '用户名',
								align: 'center',
								sort: true
							},
							{
								field: 'email',
								width: '11%',
								title: '绑定邮箱',
								align: 'center',
								sort: true
							},
							{
								field: 'first_name',
								width: '8%',
								title: '真实姓名',
								align: 'center',
								sort: true,
								templet: '<div>{{d.first_name + " " + d.last_name}}</div>'
							},
							{
								field: 'info__gender',
								width: '6%',
								title: '性别',
								align: 'center',
								sort: true,
								templet: function(d) {
									if(d.info__gender) {
										if(d.info__gender == 'male') {
											return '男';
										}
										if(d.info__gender == 'female') {
											return '女';
										}
										if(d.info__gender == 'unknown') {
											return '';
										}
									} else {
										return '';
									}
								}
							},
							{
								field: 'info__mobile',
								width: '9%',
								title: '手机号码',
								align: 'center',
								sort: true,
								templet: '<div>{{d.info__mobile ? d.info__mobile: ""}}</div>'
							},
							{
								field: 'lived_dormitory',
								width: '8%',
								title: '宿舍',
								align: 'center'
							},
							{
								field: 'is_staff',
								width: '6%',
								title: '身份',
								align: 'center',
								templet: function(d) {
									if(d.is_staff) {
										return '<span class="layui-badge layui-bg-blue">教职工</span>';
									} else {
										return '<span class="layui-badge layui-bg-gray">学生</span>';
									}
								}
							},
							{
								field: 'is_active',
								width: '6%',
								title: '是否可用',
								align: 'center',
								templet: function(d) {
									if(d.is_active) {
										return '<span class="layui-badge layui-bg-blue">启用</span>';
									} else {
										return '<span class="layui-badge layui-bg-red">禁用</span>';
									}
								}
							},
							{
								field: 'operation',
								title: '操作',
								width: '22%',
								align: 'center',
								fixed: 'right',
								templet: function(d) {
									var str = '<a class="layui-btn layui-btn-primary layui-btn-xs" onclick="user_edit(' + d.id + ');"><i class="layui-icon layui-icon-edit"></i>编辑</a>';
									str += '<a class="layui-btn layui-btn-xs" onclick="user_reset_password(' + d.id + ');"><i class="layui-icon layui-icon-survey"></i>重置密码</a>';
									str += '<a class="layui-btn layui-btn-xs" onclick="user_remove_avatar(' + d.id + ');"><i class="layui-icon layui-icon-friends"></i>移除头像</a>';
									if(d.is_active) {
										str += '<a class="layui-btn layui-btn-danger layui-btn-xs" onclick="user_set_inactive(' + d.id + ');"><i class="layui-icon layui-icon-face-cry"></i>禁用</a>';
									} else {
										str += '<a class="layui-btn layui-btn-normal layui-btn-xs" onclick="user_set_active(' + d.id + ');"><i class="layui-icon layui-icon-face-smile"></i>启用</a>';
									}
									return str;
								}
							}
						]
					],
					page: true,
					done: function(res, curr, count) {
						//数据的回调用，可不写
					}
				});

				// 监听单元格事件<排序>
				table.on('sort(LAY-users-manage)', function(obj) { //注：tool是工具条事件名，LAY-users-manage是table原始容器的属性 lay-filter="对应的值"
					//尽管我们的 table 自带排序功能，但并没有请求服务端。
					//有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
					table.reload('LAY-users-manage', { //LAY-users-manage是表格容器id
						initSort: obj, //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
						where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
							field: obj.field, //排序字段
							order: obj.type //排序方式
						}
					});
				});

				// 模糊查询"搜索"按钮
				$('#users_search_button').click(function() {
					//执行重载
					table.reload('LAY-users-manage', {
						page: {
							curr: 1 //重新从第 1 页开始
						},
						where: {
							search_firstname: $('#users_search_firstname').val().trim(),
							search_lastname: $('#users_search_lastname').val().trim(),
							search_username: $('#users_search_username').val().trim(),
							search_mobile: $('#users_search_mobile').val().trim(),
							search_email: $('#users_search_email').val().trim()
						}
					}, 'data');
				});

				// 模糊查询"清空"按钮
				$('#users_search_clean_button').click(function() {
					$('#users_search_firstname').val("");
					$('#users_search_lastname').val("");
					$('#users_search_username').val("");
					$('#users_search_mobile').val("");
					$('#users_search_email').val("");
					table.reload('LAY-users-manage', {
						where: {
							search_firstname: '',
							search_lastname: '',
							search_username: '',
							search_mobile: '',
							search_email: ''
						}
					}, 'data');
				});

				//搜索区域DIV回车监听
				$("#usersearch").bind("keydown", function(e) {
					// 兼容FF和IE和Opera
					var theEvent = e || window.event;
					var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
					if(code == 13) {
						//回车执行查询
						$("#users_search_button").click();
					}
				});

				// 用户"批量禁用"按钮
				$('#users_set_inactive_multiple_button').click(function() {
					var data = table.checkStatus('LAY-users-manage').data;
					if(data.length == 0) {
						layer.alert("请选择需要禁用的用户！");
						return false;
					}
					var ids = '';
					data.map(function(value, index, arr) {
						ids += value.id + ',';
					})
					var reg = /,$/gi;
					ids = ids.replace(reg, "");
					layer.confirm('确定禁用ID为' + ids + '的用户吗？', {
						icon: 3,
						title: '禁用'
					}, function(index) {
						$.ajax({
							url: "http://s1.mc.fyi:11453/users/set_inactive_multiple/",
							type: "post",
							headers: {
								"Authorization": "JWT " + localStorage.getItem("cache_token")
							},
							dataType: "json",
							data: {
								'ids': ids
							},
							success: function(data) {
								layer.msg(data.detail, {
									icon: 1,
									time: 2000
								})
								table.reload('LAY-users-manage');
							},
							error: function(jqXHR) {
								var json_responseText = JSON.parse(jqXHR.responseText);
								if(json_responseText.ids) {
									layer.msg('用户ID组出错：' + json_responseText.ids[0], {
										icon: 2,
										anim: 6
									});
									table.reload('LAY-users-manage');
									return false;
								}
								if(json_responseText.detail) {
									layer.msg(json_responseText.detail, {
										icon: 2,
										anim: 6
									});
									table.reload('LAY-users-manage');
									return false;
								}
								layer.msg('未知错误，请联系管理！', {
									icon: 2,
									anim: 6
								});
								table.reload('LAY-users-manage');
							}
						})
					});
				});

				// 用户"批量启用"按钮
				$('#users_set_active_multiple_button').click(function() {
					var data = table.checkStatus('LAY-users-manage').data;
					if(data.length == 0) {
						layer.alert("请选择需要启用的用户！");
						return false;
					}
					var ids = '';
					data.map(function(value, index, arr) {
						ids += value.id + ',';
					})
					var reg = /,$/gi;
					ids = ids.replace(reg, "");
					layer.confirm('确定启用ID为' + ids + '的用户吗？', {
						icon: 3,
						title: '启用'
					}, function(index) {
						$.ajax({
							url: "http://s1.mc.fyi:11453/users/set_active_multiple/",
							type: "post",
							headers: {
								"Authorization": "JWT " + localStorage.getItem("cache_token")
							},
							dataType: "json",
							data: {
								'ids': ids
							},
							success: function(data) {
								layer.msg(data.detail, {
									icon: 1,
									time: 2000
								})
								table.reload('LAY-users-manage');
							},
							error: function(jqXHR) {
								var json_responseText = JSON.parse(jqXHR.responseText);
								if(json_responseText.ids) {
									layer.msg('用户ID组出错：' + json_responseText.ids[0], {
										icon: 2,
										anim: 6
									});
									table.reload('LAY-users-manage');
									return false;
								}
								if(json_responseText.detail) {
									layer.msg(json_responseText.detail, {
										icon: 2,
										anim: 6
									});
									table.reload('LAY-users-manage');
									return false;
								}
								layer.msg('未知错误，请联系管理！', {
									icon: 2,
									anim: 6
								});
								table.reload('LAY-users-manage');
							}
						});
					});
				});

				// 用户"批量重置密码"按钮
				$('#users_reset_password_multiple_button').click(function() {
					var data = table.checkStatus('LAY-users-manage').data;
					if(data.length == 0) {
						layer.alert("请选择需要重置密码的用户！");
						return false;
					}
					var ids = '';
					data.map(function(value, index, arr) {
						ids += value.id + ',';
					})
					var reg = /,$/gi;
					ids = ids.replace(reg, "");

					layer.prompt({
						formType: 1,
						title: '请输入密码'
					}, function(value, index) {
						layer.confirm('确定修改吗？',
							function(index2) {
								$.ajax({
									url: "http://s1.mc.fyi:11453/users/reset_password_multiple/",
									type: "post",
									dataType: "json",
									headers: {
										"Authorization": "JWT " + localStorage.getItem("cache_token")
									},
									data: {
										"ids": ids,
										"password": value
									},
									success: function(data) {
										layer.close(index);
										layer.msg(data.detail, {
											icon: 1,
											time: 2000
										})
										layui.table.reload('LAY-users-manage');
									},
									error: function(jqXHR) {
										var json_responseText = JSON.parse(jqXHR.responseText);
										if(json_responseText.ids) {
											layer.msg('用户ID组出错：' + json_responseText.ids[0], {
												icon: 2,
												anim: 6
											});
											layui.table.reload('LAY-users-manage');
											return false;
										}
										if(json_responseText.password) {
											layer.msg('密码出错：' + json_responseText.password[0], {
												icon: 2,
												anim: 6
											});
											layui.table.reload('LAY-users-manage');
											return false;
										}
										if(json_responseText.detail) {
											layer.msg(json_responseText.detail, {
												icon: 2,
												anim: 6
											});
											layui.table.reload('LAY-users-manage');
											return false;
										}
										layer.msg('未知错误，请联系管理！', {
											icon: 2,
											anim: 6
										});
										layui.table.reload('LAY-users-manage');
									}
								});
							}
						)
					});
				});
			})

			// 表单修饰
			layui.use('form', function() {
				var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
				form.render();
				form.on('checkbox(display_deactive_user)', function(data) {
					if(data.elem.checked) {
						layui.table.reload('LAY-users-manage', {
							where: {
								'is_active': 'all'
							}
						}, 'data');
					} else {
						layui.table.reload('LAY-users-manage', {
							where: {
								'is_active': 'true'
							}
						}, 'data');
					}
				});
			});

			//"编辑"按钮
			function user_edit(id) {
				layer.open({
					type: 2,
					title: '修改用户',
					content: '../users/user_edit.html?id=' + id,
					shadeClose: true,
					maxmin: true,
					area: ['701px', '438px'],
					btn: ['确定', '取消'],
					yes: function(index, layero) {
						var iframeWindow = window['layui-layer-iframe' + index],
							submitID = 'LAY-user-front-submit',
							submit = layero.find('iframe').contents().find('#' + submitID);

						//监听提交
						iframeWindow.layui.form.on('submit(' + submitID + ')', function(data) {
							var field = data.field; //获取提交的字段
							$.ajax({
								url: "http://s1.mc.fyi:11453/users/" + id + "/",
								type: "put",
								headers: {
									"Authorization": "JWT " + localStorage.getItem("cache_token")
								},
								dataType: "json",
								data: {
									"email": field.user_email,
									"info__mobile": field.user_mobile,
									"first_name": field.user_first_name,
									"last_name": field.user_last_name,
									"info__birthday": field.user_birthday,
									"info__gender": field.user_gender
								},
								success: function(data) {
									layer.msg('操作成功：用户' + field.user_username + '的信息已修改成功！', {
										icon: 1,
										time: 2000
									})
									layer.close(index); //关闭弹层
								},
								error: function(jqXHR) {
									var json_responseText = JSON.parse(jqXHR.responseText);
									if(json_responseText.email) {
										layer.msg('邮箱出错：' + json_responseText.email[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_email').focus();
										return false;
									}
									if(json_responseText.info__mobile) {
										layer.msg('手机出错：' + json_responseText.info__mobile[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_mobile').focus();
										return false;
									}
									if(json_responseText.first_name) {
										layer.msg('姓出错：' + json_responseText.first_name[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_first_name').focus();
										return false;
									}
									if(json_responseText.last_name) {
										layer.msg('名出错：' + json_responseText.last_name[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_last_name').focus();
										return false;
									}
									if(json_responseText.info__birthday) {
										layer.msg('出生日期出错：' + json_responseText.info__birthday[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_birthday').focus();
										return false;
									}
									if(json_responseText.info_gender) {
										layer.msg('性别出错：' + json_responseText.info__gender[0], {
											icon: 2,
											anim: 6
										});
										layero.find('iframe').contents().find('#user_gender').focus();
										return false;
									}
									if(json_responseText.detail) {
										layer.msg(json_responseText.detail, {
											icon: 2,
											anim: 6
										});
										return false;
									}
									layer.msg('未知错误，请联系管理！', {
										icon: 2,
										anim: 6
									});
								}
							});
						});
						submit.trigger('click');
					},
					btn2: function(index, layero) {
						layer.close(index); //关闭弹层
					},
					end: function() {
						layui.table.reload('LAY-users-manage');
					}
				});
			}

			// "修改密码"按钮
			function user_reset_password(id) {
				layer.prompt({
					formType: 1,
					title: '请输入密码'
				}, function(value, index) {
					layer.confirm('确定修改吗？',
						function(index2) {
							$.ajax({
								url: "http://s1.mc.fyi:11453/users/" + id + "/reset_password/",
								type: "post",
								headers: {
									"Authorization": "JWT " + localStorage.getItem("cache_token")
								},
								dataType: "json",
								data: {
									"password": value
								},
								success: function(data) {
									layer.close(index);
									layer.msg(data.detail, {
										icon: 1,
										time: 2000
									})
									layui.table.reload('LAY-users-manage');
								},
								error: function(jqXHR) {
									var json_responseText = JSON.parse(jqXHR.responseText);
									if(json_responseText.password) {
										layer.msg('密码出错：' + json_responseText.password[0], {
											icon: 2,
											anim: 6
										});
										layui.table.reload('LAY-users-manage');
										return false;
									}
									if(json_responseText.detail) {
										layer.msg(json_responseText.detail, {
											icon: 2,
											anim: 6
										});
										layui.table.reload('LAY-users-manage');
										return false;
									}
									layer.msg('未知错误，请联系管理！', {
										icon: 2,
										anim: 6
									});
									layui.table.reload('LAY-users-manage');
								}
							});
						}
					)
				});
			}
			// "设置头像"按钮
			function user_set_avatar(id) {
				layer.open({
					type: 2,
					title: '设置用户头像',
					content: '../users/user_set_avatar.html?id=' + id,
					shadeClose: true,
					maxmin: true,
					area: ['851px', '623px'],
					btn: ['取消'],
					btn1: function(index, layero) {
						layer.close(index);
					},
					end: function(index, layero) {
						layui.table.reload('LAY-users-manage');
					}
				})
			}

			// "移除头像"按钮
			function user_remove_avatar(id) {
				$.ajax({
					url: "http://s1.mc.fyi:11453/users/" + id + "/remove_avatar/",
					type: "post",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					success: function(data) {
						layer.msg(data.detail, {
							icon: 1,
							time: 2000
						})
						layui.table.reload('LAY-users-manage');
					},
					error: function(jqXHR) {
						var json_responseText = JSON.parse(jqXHR.responseText);
						if (json_responseText.detail){
							layer.msg(json_responseText.detail, {
								icon: 2,
								anim: 6
							});
							layui.table.reload('LAY-users-manage');
							return false;
						}
						layer.msg('未知错误，请联系管理！', {
							icon: 2,
							anim: 6
						});
						layui.table.reload('LAY-users-manage');
					}
				});
			}

			// "禁用"按钮
			function user_set_inactive(id) {
				$.ajax({
					url: "http://s1.mc.fyi:11453/users/" + id + "/set_inactive/",
					type: "post",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					success: function(data) {
						layer.msg(data.detail, {
							icon: 1,
							time: 2000
						})
						layui.table.reload('LAY-users-manage');
					},
					error: function(jqXHR) {
						var json_responseText = JSON.parse(jqXHR.responseText);
						if (json_responseText.detail){
							layer.msg(json_responseText.detail, {
								icon: 2,
								anim: 6
							});
							layui.table.reload('LAY-users-manage');
							return false;
						}
						layer.msg('未知错误，请联系管理！', {
							icon: 2,
							anim: 6
						});
						layui.table.reload('LAY-users-manage');
					}
				});
			}

			// "启用"按钮
			function user_set_active(id) {
				$.ajax({
					url: "http://s1.mc.fyi:11453/users/" + id + "/set_active/",
					type: "post",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					success: function(data) {
						layer.msg(data.detail, {
							icon: 1,
							time: 2000
						})
						layui.table.reload('LAY-users-manage');
					},
					error: function(jqXHR) {
						var json_responseText = JSON.parse(jqXHR.responseText);
						layer.msg(json_responseText.detail, {
							icon: 2,
							anim: 6
						});
						layui.table.reload('LAY-users-manage');
					}
				});
			}
		</script>
	</body>

</html>