<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>layuiAdmin 控制台主页一</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
		<script type="text/javascript" charset="utf8" src="../../layuiadmin/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md8">
					<div class="layui-row layui-col-space15">

						<div class="layui-col-md6">
							<div class="layui-card">
								<div class="layui-card-header">快捷方式</div>
								<div class="layui-card-body">

									<div class="layui-carousel layadmin-carousel layadmin-shortcut">
										<div carousel-item>
											<ul class="layui-row layui-col-space10">
												<li class="layui-col-xs3">
													<a lay-href="users/users/list.html">
														<i class="layui-icon layui-icon-user"></i>
														<cite>学生</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="users/staff/list.html">
														<i class="layui-icon layui-icon-group"></i>
														<cite>教职工</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="dormitories/dormitories/list.html">
														<i class="layui-icon layui-icon-tree"></i>
														<cite>宿舍</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="dormitories/water_fees/list.html">
														<i class="layui-icon layui-icon-water"></i>
														<cite>水费</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="dormitories/electricity_fees/list.html">
														<i class="layui-icon layui-icon-chart"></i>
														<cite>电费</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="dormitories/repair/list.html">
														<i class="layui-icon layui-icon-util"></i>
														<cite>报修单</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="users/face/list.html">
														<i class="layui-icon layui-icon-face-smile-fine"></i>
														<cite>人脸</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="set/system/systemset.html">
														<i class="layui-icon layui-icon-set"></i>
														<cite>设置</cite>
													</a>
												</li>
											</ul>
											<ul class="layui-row layui-col-space10">
												<li class="layui-col-xs3">
													<a lay-href="set/user/info.html">
														<i class="layui-icon layui-icon-list"></i>
														<cite>我的资料</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="access_control/access_control/list.html">
														<i class="layui-icon layui-icon-auz"></i>
														<cite>门禁记录</cite>
													</a>
												</li>
												<li class="layui-col-xs3">
													<a lay-href="access_control/abnormal_application/list.html">
														<i class="layui-icon layui-icon-survey"></i>
														<cite>异常申请</cite>
													</a>
												</li>
											</ul>

										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="layui-col-md6">
							<div class="layui-card">
								<div class="layui-card-header">待办事项</div>
								<div class="layui-card-body">
									<div class="layui-carousel layadmin-carousel layadmin-backlog">
										<div carousel-item id="todo_list">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="layui-col-md12">
							<div class="layui-card" style="height: 542px;">
								<div class="layui-card-header">数据概览</div>
								<div class="layui-card-body">
									<div style="height: 462px; padding: 10px 50px 0 0;" id="data_overview_01">
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="layui-col-md4">
					<div class="layui-row layui-col-space15">
						<div class="layui-row layui-col-space15" id="overview_info">
						</div>

						<div class="layui-col-md12">
							<div class="layui-card">
								<div class="layui-card-header">服务器实时监控
									<button class="layui-badge layuiadmin-badge layui-btn layui-bg-blue" data-type="add" onclick="get_backend_server_info()">
                    					刷新
                					</button>
								</div>
								<div class="layui-card-body layadmin-takerates">
									<div style="height: 215px; padding: 0 0 0 0;" id="data_overview_02">
									</div>
									<div class="layui-progress" lay-showPercent="yes">
										<h3 id="cpu_count">CPU使用率</h3>
										<div class="layui-progress-bar" id="cpu_percent" lay-percent="0%"></div>
									</div>
									<div class="layui-progress" lay-showPercent="yes">
										<h3 id="memory_total">内存占用率</h3>
										<div class="layui-progress-bar" id="memory_percent" lay-percent="0%"></div>
									</div>
									<div class="layui-progress" lay-showPercent="yes">
										<h3 id="disk_total">硬盘使用率</h3>
										<div class="layui-progress-bar" id="disk_percent" lay-percent="0%"></div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>

		<script src="../../layuiadmin/layui/layui.all.js?t=1"></script>
		<script src="../../layuiadmin/js/check-token.js"></script>

		<script>
			// 获取 "待办事项"
			$.ajax({
				url: "http://127.0.0.1:8000/system_setting/get_todo_list/",
				type: "get",
				headers: {
					"Authorization": "JWT " + localStorage.getItem("cache_token")
				},
				dataType: "json",
				success: function(data) {
					var i = 0;
					var str = '<ul class="layui-row layui-col-space10">';
					$.each(data, function(key, val) {
						if(key == "water_fees") {
							str += '<li class="layui-col-xs6">' +
								'<a lay-href="dormitories/water_fees/list.html" class="layadmin-backlog-body">' +
								'<h3>待缴水费宿舍</h3>' +
								'<p><cite style="color: #FF5722;">' + val + '</cite></p>' +
								'</a>' +
								'</li>';
							i++;
						}
						if(key == "electricity_fees") {
							str += '<li class="layui-col-xs6">' +
								'<a lay-href="dormitories/electricity_fees/list.html" class="layadmin-backlog-body">' +
								'<h3>待缴电费宿舍</h3>' +
								'<p><cite style="color: #FF5722;">' + val + '</cite></p>' +
								'</a>' +
								'</li>';
							i++;
						}
						if(key == "repair") {
							str += '<li class="layui-col-xs6">' +
								'<a lay-href="dormitories/repair/list.html" class="layadmin-backlog-body">' +
								'<h3>待处理报修单</h3>' +
								'<p><cite>' + val + '</cite></p>' +
								'</a>' +
								'</li>';
							i++;
						}
						if(key == "access_control_later") {
							str += '<li class="layui-col-xs6">' +
								'<a lay-href="access_control/access_control/list_later.html" class="layadmin-backlog-body">' +
								'<h3>待处理门禁晚归记录</h3>' +
								'<p><cite>' + val + '</cite></p>' +
								'</a>' +
								'</li>';
							i++;
						}
						if(key == "access_control_application") {
							str += '<li class="layui-col-xs6">' +
								'<a lay-href="access_control/abnormal_application/list.html" class="layadmin-backlog-body">' +
								'<h3>待处理门禁异常申请</h3>' +
								'<p><cite>' + val + '</cite></p>' +
								'</a>' +
								'</li>';
							i++;
						}
						if(i % 4 == 0 && i != 4) {
							str += '</ul><ul class="layui-row layui-col-space10">';
						}
					});
					str += '</ul>';
					$('#todo_list').html(str);
				},
				error: function(jqXHR) {
					layer.msg('数据加载错误，请尝试重新登录', {
						icon: 2,
						anim: 6
					});
				}
			});

			// 获取 "系统概略信息"
			$.ajax({
				url: "http://127.0.0.1:8000/system_setting/get_overview_info/",
				type: "get",
				headers: {
					"Authorization": "JWT " + localStorage.getItem("cache_token")
				},
				dataType: "json",
				success: function(data) {
					var str = "";
					$.each(data, function(key, val) {
						if(key == "student_count_active") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'可用学生人数' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'总计学生人数' +
								'<span class="layuiadmin-span-color">' + data['student_count_total'] + ' <i class="layui-inline layui-icon layui-icon-user"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
						if(key == "staff_count_active") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'可用教职工人数' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'总计教职工人数' +
								'<span class="layuiadmin-span-color">' + data['staff_count_total'] + ' <i class="layui-inline layui-icon layui-icon-group"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
						if(key == "dormitory_count_total") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'宿舍数量' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'未满宿舍数量' +
								'<span class="layuiadmin-span-color">' + data['dormitory_count_empty'] + ' <i class="layui-inline layui-icon layui-icon-tree"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
						if(key == "access_control_day") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'门禁通过人数' +
								'<span class="layui-badge layui-bg-blue layuiadmin-badge">日</span>' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'总计门禁通过人数' +
								'<span class="layuiadmin-span-color">' + data['access_control_total'] + ' <i class="layui-inline layui-icon layui-icon-template"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
						if(key == "access_control_week") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'门禁通过人数' +
								'<span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'总计门禁通过人数' +
								'<span class="layuiadmin-span-color">' + data['access_control_total'] + ' <i class="layui-inline layui-icon layui-icon-template"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
						if(key == "access_control_month") {
							str += '<div class="layui-col-md6">' +
								'<div class="layui-card">' +
								'<div class="layui-card-header">' +
								'门禁通过人数' +
								'<span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>' +
								'</div>' +
								'<div class="layui-card-body layuiadmin-card-list">' +
								'<p class="layuiadmin-big-font">' + val + '</p>' +
								'<p>' +
								'总计门禁通过人数' +
								'<span class="layuiadmin-span-color">' + data['access_control_total'] + ' <i class="layui-inline layui-icon layui-icon-template"></i></span>' +
								'</p>' +
								'</div>' +
								'</div>' +
								'</div>';
						}
					});
					$('#overview_info').html(str);
				}
			});

			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'console']);

			var myChart = echarts.init(document.getElementById('data_overview_01'));

			// 指定图表的配置项和数据
			var data_overview_date = [];
			var data_overview_data = [];

			$.ajax({
				url: "http://127.0.0.1:8000/system_setting/data_overview_date/",
				type: "get",
				headers: {
					"Authorization": "JWT " + localStorage.getItem("cache_token")
				},
				dataType: "json",
				async: false,
				success: function(data) {
					data_overview_date = data.date
				},
				error: function(jqXHR) {
					layer.msg('数据加载错误，请尝试重新登录', {
						icon: 2,
						anim: 6
					});
				}
			});

			$.ajax({
				url: "http://127.0.0.1:8000/system_setting/data_overview_data/",
				type: "get",
				headers: {
					"Authorization": "JWT " + localStorage.getItem("cache_token")
				},
				dataType: "json",
				async: false,
				success: function(data) {
					data_overview_data = data.data
				},
				error: function(jqXHR) {
					layer.msg('数据加载错误，请尝试重新登录', {
						icon: 2,
						anim: 6
					});
				}
			});

			option = {
				tooltip: {
					trigger: 'axis',
					position: function(pt) {
						return [pt[0], '10%'];
					}
				},
				title: {
					left: 'center',
					text: '门禁流量图',
				},
				toolbox: {
					feature: {
						dataZoom: {
							yAxisIndex: 'none'
						},
						restore: {},
						saveAsImage: {}
					}
				},
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: data_overview_date
				},
				yAxis: {
					type: 'value',
					boundaryGap: [0, '100%']
				},
				dataZoom: [{
					type: 'inside',
					start: 80,
					end: 100
				}, {
					start: 0,
					end: 10,
					handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
					handleSize: '80%',
					handleStyle: {
						color: '#fff',
						shadowBlur: 3,
						shadowColor: 'rgba(0, 0, 0, 0.6)',
						shadowOffsetX: 2,
						shadowOffsetY: 2
					}
				}],
				series: [{
					name: '人次',
					type: 'line',
					smooth: true,
					symbol: 'none',
					sampling: 'average',
					itemStyle: {
						color: 'rgb(255, 70, 131)'
					},
					areaStyle: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: 'rgb(255, 158, 68)'
						}, {
							offset: 1,
							color: 'rgb(255, 70, 131)'
						}])
					},
					data: data_overview_data
				}]
			};

			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);

			var myChart2 = echarts.init(document.getElementById('data_overview_02'));
			option2 = {
				tooltip: {
					formatter: '{a} <br/>{b} : {c}%'
				},
				toolbox: {
					feature: {
						saveAsImage: {}
					}
				},
				series: [{
						name: 'CPU利用率',
						center: ['25%', '60%'],
						radius: '100%',
						type: 'gauge',
						axisLine: { // 坐标轴线
							lineStyle: { // 属性lineStyle控制线条样式
								width: 10
							}
						},
						axisTick: { // 坐标轴小标记
							length: 15, // 属性length控制线长
							lineStyle: { // 属性lineStyle控制线条样式
								color: 'auto'
							}
						},
						splitLine: { // 分隔线
							length: 20, // 属性length控制线长
							lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
								color: 'auto'
							}
						},
						axisLabel: {
							fontSize: 10
						},
						detail: {
							fontSize: 15,
							formatter: '{value}%'
						},
						data: [{
							value: 0,
							name: 'CPU'
						}]
					},
					{
						name: '内存利用率',
						center: ['75%', '60%'],
						radius: '100%',
						type: 'gauge',
						axisLine: { // 坐标轴线
							lineStyle: { // 属性lineStyle控制线条样式
								width: 10
							}
						},
						axisTick: { // 坐标轴小标记
							length: 15, // 属性length控制线长
							lineStyle: { // 属性lineStyle控制线条样式
								color: 'auto'
							}
						},
						splitLine: { // 分隔线
							length: 20, // 属性length控制线长
							lineStyle: { // 属性lineStyle（详见lineStyle）控制线条样式
								color: 'auto'
							}
						},
						axisLabel: {
							fontSize: 10,
						},
						detail: {
							fontSize: 15,
							formatter: '{value}%'
						},
						data: [{
							value: 0,
							name: '内存'
						}]
					}
				]
			};

			// 获取 "后端服务器信息"
			function get_backend_server_info() {
				$.ajax({
					url: "http://127.0.0.1:8000/system_setting/get_backend_server_info/",
					type: "get",
					headers: {
						"Authorization": "JWT " + localStorage.getItem("cache_token")
					},
					dataType: "json",
					success: function(data) {
						option2.series[0].data[0].value = data.cpu_percent;
						option2.series[1].data[0].value = data.memory_percent;
						myChart2.setOption(option2, true);

						$('#cpu_count').html('CPU使用率(物理核心数：' + data.cpu_count + ')');
						$('#cpu_percent').attr('lay-percent', data.cpu_percent + '%');
						$('#memory_total').html('内存占用率(' + data.memory_used + '/' + data.memory_total + 'MB)');
						$('#memory_percent').attr('lay-percent', data.memory_percent + '%');
						$('#disk_total').html('硬盘使用率(' + data.disk_used + '/' + data.disk_total + 'GB)');
						$('#disk_percent').attr('lay-percent', data.disk_percent + '%');

						if(data.cpu_percent > 50) {
							$('#cpu_percent').attr('class', 'layui-progress-bar layui-bg-orange');
						}
						if(data.cpu_percent > 80) {
							$('#cpu_percent').attr('class', 'layui-progress-bar layui-bg-red');
						}
						if(data.memory_percent > 50) {
							$('#memory_percent').attr('class', 'layui-progress-bar layui-bg-orange');
						}
						if(data.memory_percent > 80) {
							$('#memory_percent').attr('class', 'layui-progress-bar layui-bg-red');
						}
						if(data.disk_percent > 50) {
							$('#disk_percent').attr('class', 'layui-progress-bar layui-bg-orange');
						}
						if(data.disk_percent > 80) {
							$('#disk_percent').attr('class', 'layui-progress-bar layui-bg-red');
						}
						layui.element.init();
					},
					error: function(jqXHR) {
						layer.msg('数据加载错误，请尝试重新登录', {
							icon: 2,
							anim: 6
						});
					}
				});
			}

			// 每2秒定时获取服务器内容
			get_backend_server_info();
			var ref = setInterval(function() {
				get_backend_server_info();

			}, 2000);
			
			// 跳转其他页面就停止
			window.onfocus = function() {
				clearInterval(ref);
			}
		</script>
	</body>

</html>